<h1>Listing c_ompanies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @c_ompanies.each do |c_ompany| %>
      <tr>
        <td><%= c_ompany.name %></td>
        <td><%= link_to 'Show', c_ompany %></td>
        <td><%= link_to 'Edit', edit_c_ompany_path(c_ompany) %></td>
        <td><%= link_to 'Destroy', c_ompany, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New C ompany', new_c_ompany_path %>
